/*
 * @author:tqtan;
 * @date:14/5/12;
 * @content:游戏样式表;
*/

body{margin:0;background-color: #000;}
*{font-family: Helvitica,Microsoft yahei,tohama,arial;-webkit-font-smoothing:antialiased;}

#header{position: fixed;top: 0;width: 100%;height: 60px;background-color: rgba(255,255,255,0.7);z-index: 2;transition:all .2s ease-out;}
#header:hover{background-color: rgba(255,255,255,1.0);}
#header p{text-align: center;color: #770000;line-height: 60px;margin: 0;font-size: 22px;}

#game{display: block;position: absolute;width: 100%;height: 100%;}

#gameover{position: absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);color: #fff;
	width: 300px;height: 300px;background-color: rgba(177,32,58,0.8);line-height: 300px;text-align: center;font-size: 40px;
	transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;}